@font-face {
	font-family: 'Bebas';
	src: url('../BebasNeue Bold.otf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

#contact-container {
  font-family:  Bebas;
  /* font-size: 64px; */
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #333333;


	display: grid;
	grid-template-rows: repeat(4, minmax(20px, auto));
}

#cnav-container {
	grid-row: 1/2;

	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	background-color: #ffae7c;
	/* margin-top: .5em; */
}

.namee {
	grid-column: 1/2;
	background: ;
	width: 100%;
	height: 100%;
	margin-top: .3em;
	color : #555966;

}
.linkss {
	background: ;
	width: 100%;
	font-size: 1.5em;
	margin-top: .3em;
	grid-column: 4/5;

}

.linkss a{
	width: 100%;
	background: ;
	margin: 1em;
	text-decoration: none;
}

#header-container {
	grid-row: 2/3;
  display: grid;
  /* grid-template-rows: repeat(4, minmax(20px, auto)); */
  grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 100%;
  text-transform: uppercase;
	background-color: #ffae7c;

}

.txt {
  grid-column: 2/5;
  /* grid-row: 5/7; */
  font-size: 3em;
  text-align: left;
  margin-left: -4.5em;
  padding: 1.5em;
}

#form-container {
  display: grid;
  grid-template-rows: repeat(5, minmax(50px, auto));
  grid-template-columns: 25% 25% 25% 25%;
}

.form-input {
  grid-row: 2/5;
  grid-column: 2/4;
  background-color: ;
  text-align: left;
}

input {
  width: 40%;
  height: 4em;
}

.msg-container {
  float: right;
  margin-top: -16.2em;
  /* margin-left: -20em; */
  /* position: absolute; */
}

.msg {
  height: 20em;
  width: 35em;
}

.send-btn {
  float: right;
  margin-top: 1em;
  width: 20%;
  height: 3em;;
  border-radius: 20%;
}

#footer-container {
  /* display: inline-block; */
  margin-top: 7em;
}

#footer-container a {
  text-decoration: none;
  margin: 1em;
  float: right;
	color: #555966;
	margin-top: 2.2em;
}

.year {
  position: absolute;
  background: ;
  margin-left: -10em;
}
