#yeti-container {
  display: grid;
  grid-template-rows: repeat(15, minmax(20px, auto));
}

/*  *//*  *//*  *//* design header  *//*  *//*  *//*  *//*  */
#yeti-header {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/6;
  background: #604261;
  color: white;

  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  grid-template-rows: repeat(2, minmax(20px, auto));
}

.yetiH-info {
  background: ;
  grid-column: 2/3;
  width: 100%;
  text-align: left;
  background: ;

  /* margin-top: -5em; */


  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(10, minmax(10px, auto));
}

.yeti-header-info {
  grid-column: 1/5;
  grid-row: 1/2;
  width: 115%;
  background: ;
  font-size: 1.5em;
  margin-left: -5.8em;
}

.header-yetiImg {
  grid-column: 4/5;
  grid-row: 1/5;
  margin-left: 10em;
}

.navFor-yeti {
  grid-column: 1/5;
  grid-row: 1/2;
  display: grid;
  /* grid-template-columns: 25% 25% 25% 25%; */

}

.ylinks {
  grid-column: 4/5;
  margin-top: 1.7em;
  margin-left: 20em;
}

.ylinks a {
  text-decoration: none;
  margin-left: 5em;
  color: white;
}
/*  *//*  *//*  *//*  *//* design role container  *//*  *//*  *//*  *//*  */
#yeti-roles {
  grid-row: 2/3;
  grid-column: 1/6;

  /* width: 100%; */
  padding: 1.5em;
  background: rgba(214, 227, 248, 0.57);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.roles1-yeti {
  background: ;
  grid-column: 1/2;
  width: 72%;
  margin-left: -1.2em;
  margin-top: 1.4em;
}

.roles2-yeti {
  background: ;
  grid-column: 2/5;

  width: 90%;
  /* font-size: 1.3em; */
  margin-left: -1%;
  text-align: left;
}

/*  *//*  *//*  *//*  *//* THE CHALLENGE SECTION *//*  *//*  *//*  *//*  *//*  *//*  */

#yeti-challenge {
  grid-row: 3/4;
  grid-column: 1/6;
  background: #604261;
  color: white;

  padding: 1.5em;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.y-challenge1 {
  grid-column: 1/2;
  background: ;
  margin-left: -4.9em;
}

.y-challenge2 {
  background: ;
  grid-column: 2/5;
  width: 90%;
  text-align: left;
}

/*  *//*  *//*  *//*  *//* the project guidelines for yeti  *//*  *//*  *//*  *//*  *//*  *//*  */
#yeti-guideline {
  grid-row: 4/5;
  grid-column: 1/6;
  background: rgba(214, 227, 248, 0.57);
  color: black;

  padding: 1.5em;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.guideline1 {
  grid-column: 1/2;
  background: ;
  margin-left: -4.9em;
}

.guideline2 {
  background: ;
  grid-column: 2/5;
  width: 90%;
  text-align: left;
}

/*  *//*  *//*  *//*  *//* the persona for yeti  *//*  *//*  *//*  *//*  *//*  *//*  */
#perona-yeti {
  grid-row: 5/6;
  grid-column: 1/6;
}

.perona-img {
  width: 87.3%;
  margin-top: 2em;
  /* margin: auto; */
}

/*  *//*  *//*  *//*  *//* the problem for yeti  *//*  *//*  *//*  *//*  *//*  *//*  */

#problem-yeti {
  grid-row: 6/7;
  grid-column: 1/6;

  background: rgba(214, 227, 248, 0.73);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(10px, auto));
  padding: 1em;
}

.prob-yeti1 {
  grid-column: 1/2;
  grid-row: 2/3;

  margin-left: -7em;
}

.prob-yeti2 {
  grid-column: 2/5;
  grid-row: 2/3;

  margin-left: -3.6em;
  margin-top: .6em;
  font-weight: 800;
  width: 100%;
  text-align: left;
  font-size: 1.5em;
}

.prob-yeti3 {
  grid-column: 2/6;
  grid-row: 3/4;

  margin-left: -5.5em;
  margin-top: -.3em;
  width: 100%;
  text-align: left;
}

/*  *//*  *//*  *//*  *//* the research section for yeti  *//*  *//*  *//*  *//*  *//*  *//*  */

#yeti-research {
  grid-row: 7/8;
  grid-column: 1/6;
  /* width: 100%; */
  padding: 1.5em;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(10px, auto));
}

.p1-yetiResearch {
  grid-column: 1/2;
  margin-left: -10em;
}

.p2-yetiResearch {
  grid-column: 2/3;
  text-align: left;
  width: 100%;
  margin: 1.2em 0em 0em -7em;
  background: ;
}

.p3-yetiResearch {
  grid-column: 4/5;
  text-align: left;
  width: 100%;
  margin: 1.2em 0em 0em -13.9em;
  background: ;

}

.yetiResearch-img {
  grid-column: 2/5;
  grid-row: 2/3;
  margin-left: -8em;
  width: 100%;
}

/*  *//*  *//*  *//*  *//* the problem for yeti  *//*  *//*  *//*  *//*  *//*  *//*  */

#yeti-findings {
  grid-row: 8/9;
  grid-column: 1/6;
  padding: 1.5em;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(5, minmax(10px, auto));

  background: #604261;
  color: white;
}

.y-p1 {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-left: -10em;
}

.y-p2 {
  grid-row: 1/2;
  grid-column: 1/4;
  margin-left: -10em;
}

.y-h1 {
  grid-row: 2/3;
  grid-column: 2/5;
  font-size: 1.5em;
  margin-left: -7em;
}

.y-h2 {
  grid-row: 3/4;
  grid-column: 2/5;
  width: 100%;
  font-size: 1.5em;
  margin-left: -7em;
}

.y-h3 {
  grid-row: 4/5;
  grid-column: 2/5;
  width: 100%;
  font-size: 1.5em;
  margin-left: -3.5em;
}

/*  *//*  *//*  *//*  *//* the reframing for yeti  *//*  *//*  *//*  *//*  *//*  *//*  */

#yeti-reframing {
  grid-row: 9/10;
  grid-column: 1/5;
  width: 100%;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(2, minmax(20px, auto));
}

.reframing-p1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.reframing-p2 {
  grid-column: 2/5;
  grid-row: 1/2;
  text-align: left;
  padding-bottom: 1.5em;
  width: 90%;
  margin: auto;
  margin-top: 1.1em;
  margin-left: -.1em;
}

.reframing-img {
  grid-column: 2/5;
  grid-row: 2/3;
  width: 90%;
  /* margin-left: 10em; */
}

/*  *//*  *//*  *//*  *//* the yeti core value container for yeti  *//*  *//*  *//*  *//*  *//*  *//*  */

#coreValue-container {
  grid-row: 10/11;
  grid-column: 1/5;
  padding: 1.5em;
  /* width: 100%; */

  background: #D6E3F8;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(20px, auto));
}
.coreValue-p1{
  grid-row: 1/2;
  grid-column: 2/5;
  /* padding: 1.5em; */

  width: 100%;
  margin: auto;
  text-align: left;
  margin-left: -7.8em;
  padding-bottom: 1.5em;

}

.coreValue-h4{
  grid-row: 2/3;
  grid-column: 2/5;

  width: 100%;
  margin-left: -7.2em;
  font-size: 1.2em;
  padding-bottom: 1.5em;
}

.coreValue-img1{
  padding: 1.5em;
  grid-row: 3/4;
  grid-column: 2/4;
  margin: 0 auto;
  padding-bottom: 1.5em;
}

.coreValue-img2{
  grid-row: 4/5;
  grid-column: 2/5;
  padding-bottom: 1.5em;
}

/*  *//*  *//*  *//*  *//* the future research container for yeti  *//*  *//*  *//*  *//*  *//*  *//*  */
#yeti-futureResearch{
  grid-row: 11/12;
  grid-column: 1/5;
  /* padding: 1.5em; */
  width: 100%;
  background: #FFFFFF;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(10px, auto));

}

.futureResearch-p1 {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-left: -2.5em;
}

.futureResearch-h2 {
  grid-row: 1/2;
  grid-column: 2/5;
  width: 100%;
  margin-left: -4em;
  text-align: left;
}

.futureResearch-imgs{
  grid-row: 2/3;
  grid-column: 2/5;
  padding: 1.5em;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

/*  *//*  *//*  *//*  *//* the regined hypothesis container for yeti  *//*  *//*  *//*  *//*  *//*  *//*  */
#yeti-hypothesis {
  grid-row: 12/13;
  grid-column: 1/5;
  width: 100%;
  background: #604261;
  opacity: 0.8;
  color: white;
  padding: 1.5em;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row: repeat(4, minmax(10px, auto));
}

.hypothesis-p1 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: -4em;
}

.hypothesis-h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: left;
  margin-left: -5em;
  width: 150%;
}

.hypothesis-img {
  grid-row: 1/2;
  grid-column: 4/5;
  margin-left: -15em;
}

/*  *//*  *//*  *//*  *//* the prototype container for yeti  *//*  *//*  *//*  *//*  *//*  *//*  */

#yeti-prototyping{
  grid-row: 13/14;
  grid-column: 1/5;
  background: #D6E3F8;
  width: 100%;
  padding: 1.5em;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(10px,auto));
}

.yprototyping-p1 {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-left: -5em;
}

.yprototyping-im1 {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: -6.6em;
  margin-top: -2.1em;
  padding-bottom: 1.5em;
}

.yprototyping-im2 {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-left: -6.6em;
}

.yprototyping-im3 {
  grid-column: 4/5;
  grid-row: 1/4;
  width: 100%;
  height: 97.8%;
  margin-left: -13em;
  margin-top: 1em;
}

/*  *//*  *//*  *//*  *//* the redesign container for yeti  *//*  *//*  *//*  *//*  *//*  *//*  */
#yeti-redesign {
  grid-row: 14/15;
  grid-column: 1/5;
  background: ;
  /* padding: 1.5em; */
  background: #FFFFFF;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(20px, auto));
}

.redesign-p1 {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 40%;
  text-align: left;
  margin-left: 6.5em;
}

.redesign-div1 {
  grid-column: 2/5;
  grid-row: 1/2;
  padding: 1em;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(10px, auto));
}

.div1-h1 {
  grid-row: 1/2;
  margin-top: 1.8em;
  margin-left: -6.6em;
}
.div1-ol{
  grid-row: 2/3;
  margin-top: -2em;
  margin-left: -4.7em;
  font-size: 1.5em;
  text-align: left;
}

.div1-img1 {
  grid-row: 1/3;
  grid-column: 2/5;
  width: 65%;
  margin-top: 5em;
  margin-left: 5em;
}

.redesign-div2 {
  grid-row: 2/3;
  grid-column: 1/5;
  text-align: left;
  margin: auto;
  grid-gap: 2em;
  margin-left: 8.4em;

  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: repeat(4, minmax(10px,auto));
}

.redesign-h1 {
  /* background: red; */
  grid-column: 1/5;
  grid-row: 1/2;
  margin: auto;
  font-size: 2.5em;
  color: darkorange;
}

.div2-ul1 {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-left: 7.2em;
  width: 100%;
  font-size: 1.5em;

  background: ;
}

.div2-ul2 {
  grid-column: 3/5;
  grid-row: 2/3;
  width: 100%;
  font-size: 1.5em;
  background: ;
  margin-left: 5.1em;
}


/*  *//*  *//*  *//*  *//* the footer container for yeti  *//*  *//*  *//*  *//*  *//*  *//*  */

#yeti-footer {
  grid-row: 15/16;
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(10px, auto));
  /* margin-top: 10em; */
  width: 100%;
  /* background-color: #fcf2b0; */
  background: #604261;
  color: white;
}

.yeti-contact {
  grid-column: 1/5;
  grid-row: 1/2;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(10px, auto));
}

.ycontact-p {
  background: ;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: -8.5em;
  margin-top: 1.8em;
}

.ycontact-h3 {
  background: ;
  grid-column: 2/4;
  grid-row: 2/3;

  font-weight: 900;
  font-size: 1.5em;
  margin-left: -4.5em;
}

.ycontact-btn {
  grid-column: 4/5;
  grid-row: 2/3;
  margin-top: 2em;
  margin-left: 9em;
  width: 174px;
  height: 36px;

  background: #D6E3F8;
  border-radius: 18px;
}

#yeti-footer a {
  background: ;
  text-decoration: none;
  margin-right: 2em;
  margin-top: 4.5em;
  background: ;
  color: white;
}

.yeti-footer-rightsie-links {
  grid-column: 4/5;
  margin-top: 4.5em;
  margin-left: 6.5em;
}

.yeti-year {
  margin-top: 4.5em;
  margin-left: -9em;
}
@media screen and (max-width: 480px){
  /*
  .header-yetiImg {
    grid-column: 3/4;
    grid-row: 1/5;
    margin-left: -1em;
  }

  .reframing-img {
    grid-column: 1/5;
  }

  .coreValue-img2{
    grid-column: 1/5;
    background: red;
  }

  #yeti-prototyping{
  }

  .future-img2 {
    margin: auto;
  }

  .redesign-div2{
    margin: auto;
    background: ;
    width: 106%;
  }

  .div2-ul1{
    margin: auto;
  }
  .div2-ul2{
    margin: auto;
    margin-top: 2em;
  }

  .redesign-h1{
    margin: auto;
    background: ;
    margin-left: 40%;
  }

  .hypothesis-img{
    margin: auto;
    grid-column: 2/3;
  }

  #coreValue-container {
    width: 94.5%;
    margin-top: -2.5em;
  } */
}
