/* @font-face {
	font-family: 'Bebas';
	src: url('../BebasNeue Bold.otf') format('truetype');
	font-weight: bold;
	font-style: normal;
} */

@font-face {
	font-family: 'Bebas';
	src: url('../BebasNeue Bold.otf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

#about-container {
  color: white;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(20px, auto));
}
.navabout {
  grid-row: 1/2;
  grid-column: 1/6;
  display: grid;
  background-color: #555966;
}

.navabout a{
  padding: .5em;
  padding-right: 5em;
  float: right;
  text-decoration: none;
	color: white;
}
.aname {
  color: white;
}

.alinks {
  grid-column: 4/6;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

#aheader-container {
  grid-row: 2/3;
  grid-column: 1/6;
  background: #555966;
  text-align: left;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(10px, auto));
}

.aintro {
  grid-column: 1/4;
  grid-row: 1/2;
  background: ;
  width: 100%;
  margin-top: 5%;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.aintro2 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: auto;
  margin-top: 8%;
  margin-left: 35%;
}

.aintro3 {
  grid-column: 2/5;
  grid-row: 1/2;
  width: 100%;
  background: ;
  margin-left: -3%;
}

 /*  */
 .bio {
   grid-column: 1/5;
   grid-row: 2/3;

   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
 }

 .bio2 {
   grid-column: 1/2;
   grid-row: 1/2;
   margin: auto;
   margin-top: 3%;
   margin-left: 26%;
 }

 .bio3 {
   grid-column: 2/4;
   grid-row: 1/2;
   width: 72%;
   background: ;
   margin-left: -15.7%;
   background: ;
 }

 .profile-pic {
   grid-row: 2/3;
   grid-column: 3/4;
   width: 100%;
   /* margin: auto; */
   background: ;
   margin-top: -13%;
   margin-left: 30%;
 }

 #btns-container {
   grid-row: 4/5;
   grid-column: 3/5;
   background: ;
   margin: auto;
   margin-left: 6%;
   margin-top: %;
   width: 60%;
   grid-gap: 1em;

   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: repeat(4, minmax(10px, auto));
 }

 .journey-btn {
   grid-column: 2/3;
   grid-row: 1/4;
  background: orange;
  border-radius: 20%;
  border-style: none;
  color: #555966;
}
.resume-btn {
  grid-column: 3/4;
  grid-row: 1/4;

  background: yellow;
  border-radius: 20%;
  border-style: none;
  color: #555966;
  background: #FFF5A8;
}

#arsenal-container {
  grid-row: 3/4;
  grid-column: 1/6;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background: red;
}

.arsenal-img {
  grid-column: 1/6;
  width: 100%;
}

#afooter-container{
  background: ;
	grid-row: 4/5;
	grid-column: 1/6;

	display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(5px, auto));
  color: black;

}
.ayear {
  grid-column: 1/2;
  grid-row: 1/4;
  margin: auto;
  background: ;
  margin-left: 8%;
}

.afooter-rightsie-links{
  grid-column: 4/6;
  grid-row: 1/4;
  margin: auto;
}

.afooter-rightsie-links a{
	margin: 1.5em;
	text-decoration: none;
  color: black;
}



@media screen and (max-width: 480px){
  #aheader-container {
    grid-row: 2/3;
    grid-column: 1/6;
    background: #555966;
    text-align: left;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(4, minmax(10px, auto));
  }

  .navabout a{
    padding: .5em;
    padding-right: 1em;
    float: right;
    text-decoration: none;
  	color: white;
  }
  .name {
    color: white;
    font-size: 1.2em;
    margin-top: 2%;
  }

  .links {
    grid-column: 4/6;
  }

  .aintro {
    font-size: .4em;
    grid-column: 1/6;
    grid-row: 1/2;
    background: ;
    margin-top: 5%;
    margin-left: -2%;
  }

  .aintro2 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto;
    margin-top: 8%;
    margin-left: 35%;
  }

  .aintro3 {
    grid-column: 2/5;
    grid-row: 1/2;
    width: 100%;
    background: ;
    margin-left: -3%;
  }

   .bio3 {
     grid-column: 2/6;
     grid-row: 1/2;
     width: 100%;
     margin-left: -5%;

     font-size: .5em;
   }

   .profile-pic {
     grid-row: 3/4;
     grid-column: 2/4;
     background: ;
     margin-top: 5%;
     margin-left: 1%;
   }

   #btns-container {
     grid-row: 4/5;
     grid-column: 1/6;
     background: ;
     margin-left: 15%;
     margin-top: 5%;
   }

   .journey-btn {
     grid-column: 2/3;
     grid-row: 1/4;
    background: orange;
    border-radius: 20%;
    border-style: none;
    color: #555966;
  }

  #arsenal-container {
    grid-row: 3/4;
    grid-column: 1/5;
  }

  .resume-btn {
    grid-column: 3/4;
    grid-row: 1/4;

    background: yellow;
    border-radius: 20%;
    border-style: none;
    color: #555966;
    background: #FFF5A8;
  }

  .afooter-rightsie-links{
    grid-column: 2/6;
    grid-row: 1/4;
    margin: auto;
  }

  .afooter-rightsie-links a{
  	margin: 1em;
  	text-decoration: none;
    color: black;
  }
}
