#design-container {
  display: grid;
  grid-template-rows: repeat(14, minmax(20px, auto));
}

/*  *//*  *//*  *//* design header  *//*  *//*  *//*  *//*  */
#design-header {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/6;
  background: #9FB993;
  color: white;


  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(2, minmax(20px, auto));
}

.designH-info {
  background: ;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  /* margin-left: 35.5%;
  margin-top: 15%; */
  text-align: left;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(10px, auto));
}

.header-info {
  grid-column: 1/4;
  grid-row: 1/2;
  width: 150%;
  background: ;
  font-size: 1.5em;
  margin-left: -6em;
}

.header-img {
  grid-column: 4/5;
  grid-row: 1/5;
}

.navFor-design {
  grid-column: 1/5;
  grid-row: 1/2;
  display: grid;
  /* grid-template-columns: 25% 25% 25% 25%; */

}

.dlinks {
  grid-column: 4/5;
  margin-top: 1.7em;
  margin-left: 20em;
}

.dlinks a {
  text-decoration: none;
  margin-left: 6em;
  color: white;
}
/*  *//*  *//*  *//*  *//* design role container  *//*  *//*  *//*  *//*  */
#design-roles {
  grid-row: 2/3;
  grid-column: 1/6;

  background: #F7F4EB;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.roles1 {
  background: ;
  grid-column: 1/2;
  width: 72%;
  margin-left: -1.2em;
  margin-top: 1.4em;
}

.roles2 {
  background: ;
  grid-column: 2/5;
  /* font-size: 1.3em; */
  margin-left: -20%;
}

#design-challenge {
  grid-row: 3/4;
  grid-column: 1/6;
  background: #9FB993;
  color: white;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.d-challenge1 {
  grid-column: 1/2;
  background: ;
  margin-left: -4.9em;
}

.d-challenge2 {
  background: ;
  grid-column: 2/5;
  width: 90%;
  text-align: left;
}

#design-research {
  grid-row: 4/5;
  grid-column: 1/6;

  background: #F7F4EB;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(10px, auto));
}

.research1 {
  grid-column: 1/5;
  grid-row: 1/2;
  width: 90%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background: ;
}
.research1-p{
  grid-column: 1/2;
  margin-left: -5em;
}

.research1-h {
  grid-column: 2/5;
  text-align: left;
  margin-left: 2em;

}

.research1-p2 {
  grid-column: 2/5;
  text-align: left;
  margin-top: .1em;
  margin-left: 2em;

}

#research2 {
  grid-column: 2/6;
  grid-row: 2/3;
  width: 90%;
  margin-left: -18.3em;

  display: grid;
  grid-template-columns:  25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(20px, auto));
}

.research2-growth {
  width: 110%;
  background: ;
  text-align: left;
  grid-column: 2/3;
  /* margin-left: 10em; */
}

.growthImg {
  width: 100%;
}

.research2-value {
  width: 110%;
  background: ;
  text-align: left;
  grid-column: 3/4;
  text-align: left;margin-left: 8em;


}

.valueImg {
  width: 100%;
}

.research2-connection {
  width: 110%;
  background: ;
  text-align: left;margin-left: 15.4em;
  /* grid-column: 4/6; */
}

.connectionImg {
  width: 100%;
}

#persona-container {
  grid-row: 5/6;
  grid-column: 1/6;

  /* grid-column: 1/5; */
  color: white;


  background: #9FB993;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(2, minmax(20px, auto));
}

.persona1 {
  grid-column: 2/5;
  text-align: left;
  margin-left: -26.6%;

  display: grid;
  grid-column: 25% 25% 25% 25%;
  color: white;
}

.persona1-p1 {
  grid-column: 1/2;
  background: ;
  /* margin-left: -100%; */
}

.persona1-p2 {
  background: ;
  grid-column: 2/5;
  grid-row: 1/2;
  margin-left: 9.4%;
}

.persona1-p3 {
  grid-column: 2/4;
  text-align: left;
  margin-left: -4.2%;
  margin-top: -1%;
}

.persona-img {
  margin-left: -2.8%;
  width: 78%;
  grid-column: 2/5;
}

#design-howMight {
  grid-row: 6/7;
  grid-column: 1/6;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background: ;
}

.howMight1 {
  grid-column: 1/2;
  margin-left: -35.1%;
}

.howMight2 {
  grid-column: 2/5;
  margin-left: -24%;
}

#design-problem {
  grid-row: 7/8;
  grid-column: 1/6;

  background: #9FB993;
  color: white;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.problem-p {
  grid-column: 1/2;
  background: ;
  padding: 2.5em;
  margin-top: 2em;
  margin-left: 3em;
  text-align: left;
}

.problem-h3 {
  background: ;
  grid-column: 2/5;
  padding: 2.5em;
  margin-left: -4.5em;
}

#design-team {
  grid-row: 8/9;
  grid-column: 1/6;

  background: ;
  padding: 2em;
  text-align: left;


  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.team-p1 {
  background: ;
  grid-column: 1/2;
  margin-top: 2.6em;
  margin-left: 3.5em;
}

.team-p2 {
  grid-column: 2/5;
  margin-left: -3em;
}

#ideation-container {
  background: #F7F4EB;
  grid-row: 9/10;
  grid-column: 1/6;

  /* width: 100%; */

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row: repeat(5, minmax(20px, auto));
}

.ideation-p {
  grid-column: 1/5;
  grid-row: 1/2;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 2em;
}

.ideation-p2 {
  grid-column: 1/2;
  margin-left: -10.5em;
}

.ideation-p3 {
  grid-column: 2/5;
  text-align: left;
  margin-left: -3em;
  width: 100%;
}

.ideation-img1 {
  grid-row: 2/3;
  grid-column: 2/4;
  width: 100%;
  margin-bottom: 2em;
}

.ideation-img2 {
  grid-row: 3/4;
  grid-column: 2/4;
  width: 100%;
  margin-bottom: 2em;
}

.ideation-img3 {
  grid-row: 4/5;
  grid-column: 2/4;
  width: 100%;
  margin-bottom: 2em;
}

.ideation-img4 {
  grid-row: 5/6;
  grid-column: 2/4;
  width: 100%;
}

#design-feedback {
  background: #9FB993;
  grid-row: 10/11;
  grid-column: 1/6;
  /* font-size: 1.2em; */

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(20px, auto));
}

.feedback-header {
  grid-column: 1/6;
  background: ;

  text-align: center;
  padding: 1em;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.feedbackH-p {
  background: ;
  margin: 0em 0em 0em -9.7em;
}

.feedbackH-h2 {
  grid-column: 2/5;
  color: white;
  margin:0em 0em 0em -9em;
  width: 100%;
}

.feedbackH-h3 {
  background: ;
  grid-column: 2/6;
  color: white;
  margin: 0em 0em 0em -10em;
  width: 100%;
}

.feedback1 {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  background: ;
  margin: 0em 0em 0em -5em;
  text-align: left;
}

.feedback2 {
  grid-column: 4/5;
  grid-row: 2/3;
  width: 100%;
  background: ;
  text-align: left;
  margin: 0em 0em 0em -15em;

}

.feedback3 {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100%;
  background: ;
  margin: 0em 0em 0em -5em;
  text-align: left;
}

.feedback4 {
  grid-column: 3/4;
  grid-row: 3/4;
  background: ;
  width: 100%;
  text-align: left;
  margin: 2.6em 0em 0em 11.3em;
}

.feedback5 {
  grid-column: 2/4;
  grid-row: 4/5;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(10px, auto));
  grid-gap: 1em;
  margin-left: -1.25em;
}

.feedback5-h3 {
  grid-column: 2/5;
  grid-row: 1/2;

  margin-left: -5em;
}

.feedback5-p1 {
  grid-column: 1/6;
  grid-row: 2/3;
  margin-top: -1.2em;
  font-size: 1.5em;
  width: 110%;

  background: ;
}

.feedback5-p2 {
  grid-column: 1/3;
  width: 100%;
  background: ;
  text-align: left;
  margin: -.5em 0em 0em 0em;
}

.feedback5-p3  {
  grid-column: 3/5;
  background: ;
  text-align: left;
  margin: -.5em 0em 0em 10em;
  width: 93%;
}

#design-visuals {
  grid-row: 11/12;
  grid-column: 1/6;
  /* width: 100%; */
  background: #F7F4EB;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(2, minmax(10px, auto));
  padding: 1em;
}

.visuals-img {
  grid-column: 2/5;
  grid-row: 2/3;
  width: 100%;
  margin:0 auto;
  margin-left: -10em;
  padding: 2em;

}

.visuals-p {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: -40%;
}

.prototype-btn {
  grid-column: 4/5;
  grid-row: 4/5;

  height: 3em;;
  width: 50%;
  margin-top: -5em;
  margin-left: 5em;
  font-size: 1em;
  color: white;
  background: #604261;
  border-radius: 23.1724px;
}

#design-retrospective {
  grid-row: 12/15;
  grid-column: 1/6;
  width: 100%;
  background: #9FB993;
  color: white;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.retrospective-p {
  margin-left: -8em;
}

.retrospective-h3 {
  grid-column: 2/4;
  width: 100%;
  text-align: left;
  margin-left: -1em;
}

#design-footer {
  grid-row: 13/14;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(4, minmax(10px, auto));
  /* margin-top: 10em; */
  width: 100%;
  /* background-color: #fcf2b0; */
  background: #FFAE7C;
}

.design-contact {
  grid-column: 1/5;
  grid-row: 1/4;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.contact-p {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: -8.5em;
}

.contact-h3 {
  grid-column: 2/4;
  grid-row: 2/3;
}

.contact-btn {
  grid-column: 4/5;
  grid-row: 2/3;
  margin-top: 1em;
  width: 174px;
  height: 36px;

  background: #FFF5A8;
  border-radius: 18px;
}

#design-footer a {
  background: ;
  text-decoration: none;
  margin-right: 2em;
  margin-top: 4.5em;
  color: white;
}

.design-footer-rightsie-links {
  grid-column: 4/5;
  margin-top: 4.5em;
  margin-left: 6.5em;
}

.design-year {
  margin-top: 4.5em;
  margin-left: -9em;
}

@media screen and (max-width: 480px){
  .dlinks {
    margin-top: 1.7em;
  }

  .dlinks a {
    text-decoration: none;
    /* margin-left: 2em; */
    color: white;
  }

  .header-img {
    grid-column: 3/4;
    margin-left: -10em;
  }

  .designH-info {
    background: ;
    grid-column: 2/3;
    width: 150%;
    margin-left: 3.7em;
  }

  .roles1{
    font-size: 1.7em;
    margin: auto;
    margin-left: em;
    padding: 1em;
  }

  .roles2{
    font-size: 1em;
    width: 90%;
    margin: auto;
    /* margin-left: -5em; */
  }

  .d-challenge1{
    margin: auto;
    font-size: 1.5em;
  }

  .d-challenge2{
    margin: auto;
    font-size: 1.2em;
    padding: 1em;
  }

  .design-research {
    width: 100%;
    background: blue;
  }

  #design-research{
    /* width: 100%;
    background: ; */
    padding: 1em;
  }

  .research1-p {
    margin: auto;
    font-size: 1.5em;
  }

  .research1-h {
    margin: auto;
    margin-left: 3em;
  }

  .research1-p2 {
    margin: auto;
    margin-left: 3.5em;
    padding-top: 1em;
  }

  .persona1-p1 {
    margin: auto;
    margin-left: -1em;
  }

  .persona1-p2 {
    margin: auto;
    /* margin-left: -1em; */
    width: 90%;
    padding: 1em;
  }

  .howMight1 {
    margin: auto;
  }

  .howMight2 {
    width: 95%;
    margin: auto;
    text-align: left;
    padding: 1em;
    margin-left: -1em;
  }

  .problem-p{
    margin: auto;
    font-size: 1.5em;
  }

  .problem-h3 {
    margin: auto;
    font-size: 1.2em;
  }

  .team-p1{
    margin: auto;
    font-size: 1.5em;
  }

  .team-p2{
    margin: auto;
    font-size: 1.2em;
  }

  .ideation-p2{
    margin: auto;
    font-size: 1.5em;
  }

  .ideation-p3{
    margin: auto;
    font-size: 1.5em;
  }

  .feedbackH-p{
    margin: auto;
  }
  .feedbackH-h2{
    margin: auto;
  }
  .feedbackH-h3{
    margin: auto;
  }

  .feedback1{
    margin: auto;
    margin-left: -20%;
  }

  .feedback2{
    margin: auto;
    margin-left: -50%;
  }

  .feedback3{
    margin: auto;
    margin-left: -20%;
  }

  .feedback4{
    margin: auto;
    margin-left: 50%;
  }

  .feedback5{
    margin: auto;
    margin-left: -15%;

  }

  .feedback5-p1{
    margin: auto;
    padding: 1em;
  }

  .feedback5-p3{
    margin-left: 45%;
  }

  .retrospective-p{
    margin: auto;
    font-size: 1.5em;
  }

  .retrospective-h3{
    margin: auto;
    grid-column: 2/5;
    font-size: 1em;
    width: 95%;
    margin-left: -2%;
    padding: 1em;
  }

  #design-footer a {

  }

  .design-footer-rightsie-links {
    grid-column: 3/5;
    margin-top: 4.5em;
    margin-left: 6.5em;
  }

  .design-year {
    margin-top: 4.5em;
    margin-left: -9em;
  }

}
